<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
	<div id="site" class="site">
		<div id="sidebar" class="sidebar">
			<%- partial('_partial/sidebar') %>
		</div>
		<div id="content" class="site-content">
			<main id="main" class="site-main" role="main">
				<%- body %>
			</main>
		</div>
		<footer id="colophon" class="site-footer">
			<div class="site-info">
				<a href="#">powered by Troy&wordpress</a>
			</div><!-- .site-info -->
		</footer>
	</div>
	<div id="infinite-footer">
            <div class="container">
                <div class="blog-info">
                    <a id="infinity-blog-title" href="#" rel="home" title="Scroll back to top">
                        Troy Yang
                    </a>
                </div>
                <div class="blog-credits">
                    <a href="http://troyyang.com">Blog at troyyang.com.</a>
                </div>
            </div>
        </div><!-- #infinite-footer -->
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>
</html>