<aside class="widget social-navigation">
    <ul>
        <li>
            <a href="http://twitter.com/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-rss" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://linkedin.com/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</aside>